apiVersion: v1
kind: Secret
metadata:
  name: avatar-secrets
  namespace: gophprofile
type: Opaque
stringData:
    # Database
    DB_DSN: "host=postgres port=5432 user=postgres password=<CHANGE_ME> dbname=avatars sslmode=disable"

    # JWT
    JWT_SECRET: "<CHANGE_ME_MIN_32_CHARS_LONG_SECRET>"

    # MinIO
    MINIO_ENDPOINT: "minio:9000"
    MINIO_ACCESS_KEY: "<CHANGE_ME>"
    MINIO_SECRET_KEY: "<CHANGE_ME>"
    MINIO_ROOT_USER: "<CHANGE_ME>"
    MINIO_ROOT_PASSWORD: "<CHANGE_ME>"
    MINIO_BUCKET: "avatars"
    MINIO_USE_SSL: "false"


    # RabbitMQ
    RABBITMQ_URL: "amqp://guest:guest@rabbitmq:5672/"
